/* 
* {
    margin: 0;
    padding: 0px;
} */

#bac {
    /* background-color: cornsilk; */
    background-size: cover;   
}

h1{
    text-align: center;
    color: purple;
    font-family: 'Reggae One', cursive;
    font-size: 75px;
    margin:unset;
}

#difficulty{
    color: black;
}

/* #4CAF50; - forest green */
#questtag{
    /* padding: 20px;  */
    width: 80%;
    background-color: whitesmoke;
    border: 5px solid royalblue;
    font-size: x-large;
    margin:20px auto;
    color: black;
    padding-left: 15px;
}

#difficulty {
    padding: 50px 0px 0px 0px; 
    font-size: large;
}

#answer {
    padding: 10px; 
    width: 80%;
    background-color: white;
    border: 10px solid goldenrod;
    font-size: large;
    margin: 50px auto;
    justify-content: space-between;
    align-content: left;
    
}

#reset {
    /* width: 50px; */
    background-color: gold;
    border: 2px solid blueviolet;
    height: 40px;
    /* padding-top: 50px; */
    justify-content: center;
    font-weight: bold;
}

#answer ul{
    display:block;
    flex-wrap: nowrap;
    list-style:lower-alpha;
}

#answer ul li{
    /* border: 3px solid paleturquoise; */
    border: 3px solid purple;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    text-align: center;
    align-content: center;
    background-color: silver;
}

li {
    padding-top: 20px;
    align-content: flex-start;
}

#scores {
    display: flex;
    width: 80%;
    /* background-color: violet; */
    justify-content: center;
    margin: 10px auto;
    border: 5px solid black;
}

#player1, #player2 {
    margin: 10px auto;
    text-align: center;
    background-color: purple;
    width: 40%;
    border: 2px solid black;
    font-size: large;
    color:goldenrod;
}