
/* body{
    padding: 200px;
} */
body {
    background-image: url(https://i.imgur.com/9TVS1Yf.png);
    background-size: contain;
}
h1{
    text-align: center;
    color: brown;
    font-family: 'Reggae One', cursive;
    font-size: 75px;
}

/* .back-eye {
    width: 50px;
    height: 50px;
} */

#questtag{
    padding: 25px; 
    width: 68%;
    background-color: white;
    /* background-color: papayawhip; */
    border: 5px dotted purple;
    font-size: x-large;
    margin:20px auto;
}

#difficulty {
    padding: 50px 0px 0px 0px; 
    font-size: large;
}

#answer {
    padding: 10px; 
    width: 70%;
    background-color: white;
    border: 5px dotted gold;
    font-size: large;
    margin: 50px auto;
    justify-content: space-between;
    align-content: left;
}

#answer ul{
    display:block;
    flex-wrap: nowrap;
    list-style:lower-alpha;
}

#answer ul li{
    /* border: 3px solid paleturquoise; */
    border: 3px solid purple;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    text-align: center;
    align-content: center;
    background-color: silver;
}

li {
    padding-top: 20px;
    align-content: flex-start;
}

/* #scores {
    display: flex;
    width: 70%;
    background-color: red;
    justify-content: center;
    margin: 10px auto;
    border: 5px solid black;
} */

/* #player1, #player2 {
    margin: 10px auto;
    text-align: center;
    background-color: cyan;
    width: 40%;
    border: 2px solid black;
    
} */