
/* body{
    padding: 200px;
} */

h1{
    text-align: center;
    color: black;
    font-family: 'Reggae One', cursive;
}

#questtag{
    padding: 25px; 
    width: 70%;
    background-color: papayawhip;
    border: 5px dotted red;
    font-size: x-large;
    margin:20px auto;
}

#difficulty {
    padding: 50px 0px 0px 0px; 
    font-size: large;
}

#answer {
    padding: 10px; 
    width: 70%;
    background-color: white;
    border: 5px solid;
    font-size: large;
    margin: 50px auto;
    justify-content: space-between;
    align-content: left;
}

#answer ul{
    display:block;
    flex-wrap: nowrap;
    list-style:lower-alpha;
}

#answer ul li{
    border: 2px solid paleturquoise;
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    text-align: left;
    margin: 20px auto;
}

#scores {
    display: flex;
    width: 70%;
    background-color: red;
    justify-content: center;
    margin: 10px auto;
    border: 5px solid black;
}

#player1, #player2 {
    margin: 10px auto;
    text-align: center;
    background-color: cyan;
    width: 40%;
    border: 2px solid black;
    
}